<div class="container">
  <div class= "row mx-auto my-5">

  <div class="col-4 mx-auto">
    <%= render '/admin/shared/schedule', schedules: Schedule.all, schedule: Schedule.new %>
  </div>      

    <div class= "col-8 my-3">
    　<h2 class="ml-2 font-weight-bold">お問合せ履歴</h2>
        <table class="w-100 table-boder">
            <thead class= "table-boder">
                <tr>
                    <th class= "list text-center", style="width:15%;">問い合わせID</th>
                    <th class= "list text-center", style="width:15%;">日時</th>
                    <th class= "list text-center", style="width:40%;">件名</th>
                    <th class= "list text-center", style="width:15%;">ステータス</th>
                    <th class= "list text-center", style="width:15%;"></th>
                </tr>
            </thead>
            <tbody>
                <% @inquiries.each do |inquiry| %>    
                    <tr>
                        <th class= "list text-center"><%= inquiry.id %></th>
                        <th class= "list text-center"><%= inquiry.created_at.strftime('%Y/%m/%d') %></th>
                        <th class= "list text-center"><%= inquiry.title %></th>
                        <th class= "list text-center"><%= inquiry.order_status_i18n %></th>
                        <th class= "list text-center"><%= link_to "詳細", admin_inquiry_path(inquiry), class: "btn btn-dark px-3" %></th>
                    </tr>
                <% end %>        
            </tbody>
        </table>
      <div><%= paginate @inquiries %></div>
    </div>
  </div>
</div>