<div class= "container">
  <div class= "row my-5 py-4">
    <div class=  "col-12 my-3">
      <h2 class="text-center font-weight-bold">管理者ログイン</h2>
    </div>

    <div class= "col-5 form-group mx-auto">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="field mb-4">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@test.com", class: "form-control" %>
        </div>
        <div class="field mb-4">
          <%= f.label :"パスワード(6文字以上)" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="actions mb-2 d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-dark px-5" %>
        </div>
      <% end %>
      
      <%= render "admin/shared/links" %>
      
    </div>
  </div>
</div>

