<div class= "container">
  <div class= "row my-3">
    <div class= "col-12 my-3">
    <!--タブ部分-->
    <ul class="nav nav-tabs">
        <li class="tab tab-active nav-item px-4 py-1 font-weight-bold">
            一覧</br>
            <%= @inquiries.count %>件
        </li>
        <li class="tab nav-item px-4 py-1 font-weight-bold">
            未確認</br>
            <%= @inquiries_unconfirmed.count %>件
        </li>
        <li class="tab nav-item px-4 py-1 font-weight-bold">
            未受注</br>
            <%= @inquiries_not_received.count %>件
        </li>
        <li class="tab nav-item px-4 py-1 font-weight-bold">
            受注</br>
            <%= @inquiries_order_received.count %>件
        </li>
        <li class="tab nav-item px-4 py-1 font-weight-bold">
            対応済</br>
            <%= @inquiries_done.count %>件
        </li>
    </ul>
    <table class="w-100 table-boder">
        <thead class= "table-boder">
            <tr>
                <th class= "list text-center", style="width:15%;">問い合わせID</th>
                <th class= "list text-center", style="width:10%;">日時</th>
                <th class= "list text-center", style="width:35%;">件名</th>
                <th class= "list text-center", style="width:15%;">ステータス</th>
                <th class= "list text-center", style="width:15%;"></th>
            </tr>
        </thead>
        <!--タブで選択された要素部分-->
        <tbody class="tabbox box-show">
            <%= render 'public/shared/inquiry', inquiries: @inquiries %>
        </tbody>
        <tbody class="tabbox">
            <%= render 'public/shared/inquiry', inquiries: @inquiries_unconfirmed %>
        </tbody>
        <tbody class="tabbox">
            <%= render 'public/shared/inquiry', inquiries: @inquiries_not_received %>
        </tbody>
        <tbody class="tabbox">
            <%= render 'public/shared/inquiry', inquiries: @inquiries_order_received %>
        </tbody>
        <tbody class="tabbox">
            <%= render 'public/shared/inquiry', inquiries: @inquiries_done %>
        </tbody>
    </table>
    </div>
    <div class="col-12 mb-4 mt-3">
      <div><%= paginate @inquiries %></div>
    </div>
    </div>
  </div>
</div>