<div class= "container">
  <div class= "row my-5">
    <div class=  "col-12 my-2">
      <h2 class="text-center font-weight-bold">お問合せフォーム</h2>
      <p class="alart text-center"><%= flash[:alart] %></p>
    </div>
    <div class= "col-5 form-group mx-auto">
      <%= form_with model: @inquiry, url:inquiries_path, method: :post do |f| %>
        <div class="field mb-4">
          <%= f.label :件名（必須） %><br />
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="field mb-4">
          <%= f.label :お問合せ内容（必須） %><br />
          <%= f.text_area :body, class: "form-control", style: "height: 200px;" %>
        </div>
        <div class="field mb-4">
          <%= f.label :参考ファイル %><br />
           <!--multiple: trueにすることで画像を一度に複数選択出来る-->
          <%= f.file_field :image, accept: "image/*", multiple: true %>
        </div>
          <%= f.hidden_field :order_status %>
        <div class="actions mb-2 d-flex justify-content-center">
          <%= f.submit "送信", class: "btn btn-dark px-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
