<div class="container">
<div class="row mx-auto mb-5 my-4">
  
  <div class="col-4 mx-auto">
    <%= render '/admin/shared/schedule', schedules: Schedule.all, schedule: Schedule.new %>
  </div>
  
  <br>
  
  <br>

  <div class="col-8 my-4">
    <h3 class="ml-5 pl-5 mb-4"><strong>スケジュール詳細</strong></h3>
    <table class="mx-auto font-weight-bold">
      <tbody>
        <tr>
          <td class="table col-3">日 時 :</td>
          <td class="table col-4"><%= @schedule.start_time.strftime("%m/%d") %></td>
        </tr>
        <tr>
          <td class="table col-3">タイトル :</td>
          <td class="table col-4"><%= @schedule.title %></td>
        </tr>
        <tr>
          <td class="table col-3 pb-3">内 容 :</td>
          <td class="table col-4 pb-3"><%= @schedule.body %></td>
        </tr>
        <tr>
          <td>
            <%= link_to '編集', edit_admin_schedule_path(@schedule), class: "btn btn-info px-5 my-3" %>
          </td>
          <td>
            <%= link_to '削除',admin_schedule_path(@schedule.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger px-5 my-3" %>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</div>
</div>