<div class= "container">
  <div class= "row my-5 py-4">
    <div class=  "col-12 my-3">
      <h2 class="text-center font-weight-bold">ログイン</h2>
    </div>
    
    <div class= "col-5 form-group mx-auto">
      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="field mb-4">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@test.com", class: "form-control" %>
        </div>
        <div class="field mb-4">
          <%= f.label :"パスワード(6文字以上)" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="actions mb-2 d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-dark px-5" %>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to "ゲストログイン", customers_guest_sign_in_path, method: :post, class: "rink-button btn btn-dark px-4" %>
      <div>
    </div>
  </div>
</div>
