<div class="mr-5">
  <h4 class="schedule font-weight-bold">今後の予定一覧</h4>
  <table class="table mb-5">
    <thead>
      <tr>
        <th class="thead-light">日程</th>
        <th class="thead-light">タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.start_time.strftime("%m/%d") %></td>
          <td><%= link_to schedule.title, admin_schedule_path(schedule.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mr-5">
  <h4 class="schedule font-weight-bold">スケジュール登録</h4>
  <%= form_with model: schedule, url: admin_schedules_path, local: true do |f| %>
    <div class="title">
      <div class="form-tag">タイトル<span class="alart">【必須】</span></div>
      <%= f.text_field :title, class: "form-control mb-2" %>
    </div>
    <div class="content">
      <div class="form-tag">内容</div>
      <%= f.text_field :body, class: "form-control mb-2" %>
    </div>
    <div class="time mb-3">
      <div class="form-tag">日時<span class="alart">【必須】</span></div>
      <%= f.datetime_select :start_time, class: "mb-2" %>
    </div>
     <div class="submit text-center">
        <%= f.submit "新規登録", class: "btn btn-dark px-5" %>
     </div>
  <% end %>
</div>